:root {
  --info-color: #3f9cff;
  --warning-color: #ff7d7d;
  --warning-color-rgb: 255, 125, 125;
  --active-color: #55ff9c;
  --main-rgb-color: 63, 156, 255;
  --dark-color: #181818;
  --dark-color-rgb: 24, 24, 24;
  --dark-light-color: #626262;
  --dark-light-color-rgb: 98, 98, 98;
  --dark-medium-color: #28272a;
  --light-color: #cfcfff;
  --light-medium-color: #9c9cbd;
}
