:root {
  --main-color: #3f9cff;
  --main-rgb-color: 63, 156, 255;
  --dark-color: #181818;
  --dark-light-color: #626262;
  --dark-medium-color: #28272a;
  --dark-medium-color-rgb: 39, 39, 39;
  --light-color: #cfcfff;
}
