:root {
  --main-color: #3f9cff;
  --main-rgb-color: 63, 156, 255;
  --dark-color: #181818;
  --dark-light-color: #626262;
  --dark-light-color-rgb: 98, 98, 98;
  --dark-medium-color: #28272a;
  --light-color: #cfcfff;
  --light-medium-color: #9c9cbd;
  --active-color: #55ff9c;
}
