@use "./colors.scss";

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--dark-light-color-rgb), 0.5);
  border-radius: 4px;

  &:hover {
    background: rgb(var(--dark-light-color-rgb), 0.8);
  }
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

body {
  color: var(--light-color);
  font-family: sans-serif;
  background-color: var(--dark-color);
  margin: 0;
}

header {
  padding: 2rem;
  background-color: rgba(var(--main-rgb-color), 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  nav {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  a {
    color: var(--light-color);
    text-decoration: none;
  }
}

.recipe-grid {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
