$dark-color: #303030;
$border-color: #747474;
$primary-dark-color: #42ff74;
$primary-light-color: #ff4242;
// $border-hover-color: #ff4242;
$border-hover-color: #42ff74;
$light-color: #ededed;

:export {
  lightColor: $light-color;
  expandColor: $primary-dark-color;
  borderColor: $border-color;
}
