@import "./colors.module";

:root {
  --font-color: #{$dark-color};
  --background: #{$light-color};
  --border-color: #{$border-light-color};
  --primary-color: #{$primary-light-color};
  --tag-color: #{$tag-light-color};
  --table-hover-color: #{$primary-light-color-rgba};
}

[data-theme="dark"] {
  --font-color: #{$light-color};
  --background: #{$dark-color};
  --border-color: #{$border-dark-color};
  --primary-color: #{$primary-dark-color};
  --tag-color: #{$tag-dark-color};
  --table-hover-color: #{$primary-dark-color-rgba};
}
