.recipeCard {
  // overflow: hidden;
  background-color: var(--dark-medium-color);
  position: relative;
  border: 1px solid var(--dark-light-color);
  border-radius: 8px;
  // cursor: pointer;

  &:hover {
    .deleteRecipeButton {
      opacity: 1;
      visibility: visible;
    }
  }
}

.deleteRecipeButton {
  all: unset;
  opacity: 0;
  visibility: hidden;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--warning-color);
  background-color: var(--dark-light-color);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transition-delay: 0.1s;

  &:hover {
    background-color: var(--warning-color);
    color: var(--dark-color);
  }

  &:focus-visible {
    outline: 2px solid var(--info-color);
  }
}

.recipeImg {
  height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipeDetails {
  padding: 1rem;

  .recipeHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .tag {
    background-color: var(--dark-light-color);
    padding: 2px 8px;
    border-radius: 4px;
  }
}
